<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
		<key>forcone_vuoto.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{0,0}</string>
		</dict>
            <key>loading_forcone_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,100},{68,64}}</string>
                <key>offset</key>
                <string>{269,290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{717,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>loading_forcone_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,100},{76,130}}</string>
                <key>offset</key>
                <string>{242,257}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{686,0},{76,130}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>loading_forcone_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{100,196}}</string>
                <key>offset</key>
                <string>{223,224}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{655,0},{100,196}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>loading_forcone_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{106,234}}</string>
                <key>offset</key>
                <string>{196,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{625,27},{106,234}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>loading_forcone_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,176},{100,234}}</string>
                <key>offset</key>
                <string>{163,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{595,93},{100,234}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>loading_forcone_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,244},{100,242}}</string>
                <key>offset</key>
                <string>{126,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,158},{100,242}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>loading_forcone_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,244}}</string>
                <key>offset</key>
                <string>{121,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,156},{90,244}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>loading_forcone_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{80,244}}</string>
                <key>offset</key>
                <string>{116,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,156},{80,244}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>loading_forcone_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{96,242}}</string>
                <key>offset</key>
                <string>{124,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,158},{96,242}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>loading_forcone_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,242},{112,240}}</string>
                <key>offset</key>
                <string>{132,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,160},{112,240}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_parts-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4661e2f84acb0eb82268866f7e175263$</string>
            <key>textureFileName</key>
            <string>loading_parts-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
