<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atlas</key>
	<string></string>
	<key>defaultstate</key>
	<string>egg</string>
	<key>states</key>
	<dict>
		<key>egg</key>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>framename</key>
					<string>break_egg_egg_full.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>framename</key>
					<string>break_egg_broken_5.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>fracture</key>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>framename</key>
					<string>break_egg_vuoto.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>framename</key>
					<string>break_egg_broken_%u.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>framename</key>
					<string>break_egg_vuoto.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>eyes</key>
		<dict>
			<key>framerate</key>
			<string>5</string>
			<key>frames</key>
			<array>
				<dict>
					<key>framename</key>
					<string>break_egg_chick_eyes.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>framename</key>
					<string>break_egg_vuoto.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
