<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>break_ice_ice_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1},{298,152}}</string>
                <key>offset</key>
                <string>{-363,308}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1539},{184,98}}</string>
                <key>offset</key>
                <string>{-132,335}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,0},{184,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,223},{218,158}}</string>
                <key>offset</key>
                <string>{27,305}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,0},{218,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1345},{238,202}}</string>
                <key>offset</key>
                <string>{207,283}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{600,0},{238,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,863},{274,184}}</string>
                <key>offset</key>
                <string>{375,292}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{750,0},{274,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,703},{88,142}}</string>
                <key>offset</key>
                <string>{468,190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{936,123},{88,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1013},{174,318}}</string>
                <key>offset</key>
                <string>{425,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{850,182},{174,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1955},{90,206}}</string>
                <key>offset</key>
                <string>{467,-147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{934,428},{90,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1333},{310,204}}</string>
                <key>offset</key>
                <string>{357,-282}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{714,564},{310,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,769},{188,76}}</string>
                <key>offset</key>
                <string>{134,-346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{552,692},{188,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,847},{248,142}}</string>
                <key>offset</key>
                <string>{-69,-313}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,626},{248,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1},{296,204}}</string>
                <key>offset</key>
                <string>{-215,-282}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,564},{296,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1933},{204,106}}</string>
                <key>offset</key>
                <string>{-330,-331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,662},{204,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1653},{160,314}}</string>
                <key>offset</key>
                <string>{-432,-227}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,454},{160,314}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,1071},{124,220}}</string>
                <key>offset</key>
                <string>{-450,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,243},{124,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,1473},{160,196}}</string>
                <key>offset</key>
                <string>{-432,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,128},{160,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,1},{210,200}}</string>
                <key>offset</key>
                <string>{-298,240}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,44},{210,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1909},{134,136}}</string>
                <key>offset</key>
                <string>{-147,239}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,77},{134,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1823},{210,224}}</string>
                <key>offset</key>
                <string>{113,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{520,60},{210,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,261},{212,220}}</string>
                <key>offset</key>
                <string>{321,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{727,137},{212,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1397},{220,228}}</string>
                <key>offset</key>
                <string>{325,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{727,354},{220,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{270,336}}</string>
                <key>offset</key>
                <string>{169,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,383},{270,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,291},{280,232}}</string>
                <key>offset</key>
                <string>{70,-220}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,488},{280,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,847},{224,152}}</string>
                <key>offset</key>
                <string>{-153,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,438},{224,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,943},{296,162}}</string>
                <key>offset</key>
                <string>{-351,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,437},{296,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1},{258,184}}</string>
                <key>offset</key>
                <string>{-331,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,298},{258,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1443},{184,188}}</string>
                <key>offset</key>
                <string>{-285,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,198},{184,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,1249},{84,188}}</string>
                <key>offset</key>
                <string>{-164,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,198},{84,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,291},{152,286}}</string>
                <key>offset</key>
                <string>{-52,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,94},{152,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,1},{178,172}}</string>
                <key>offset</key>
                <string>{77,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{500,225},{178,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1299},{220,198}}</string>
                <key>offset</key>
                <string>{231,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{633,199},{220,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{244,288}}</string>
                <key>offset</key>
                <string>{2,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,340},{244,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_a_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1927},{164,120}}</string>
                <key>offset</key>
                <string>{-123,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,371},{164,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1241},{296,152}}</string>
                <key>offset</key>
                <string>{-364,308}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1537},{184,96}}</string>
                <key>offset</key>
                <string>{-132,336}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,0},{184,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1},{218,156}}</string>
                <key>offset</key>
                <string>{26,306}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,0},{218,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1585},{236,202}}</string>
                <key>offset</key>
                <string>{207,283}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{601,0},{236,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1633},{274,184}}</string>
                <key>offset</key>
                <string>{375,292}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{750,0},{274,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,939},{86,140}}</string>
                <key>offset</key>
                <string>{469,190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{938,124},{86,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1333},{172,318}}</string>
                <key>offset</key>
                <string>{426,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{852,181},{172,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,755},{88,204}}</string>
                <key>offset</key>
                <string>{468,-147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{936,429},{88,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1013},{308,202}}</string>
                <key>offset</key>
                <string>{358,-283}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{716,566},{308,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,769},{188,76}}</string>
                <key>offset</key>
                <string>{133,-346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,692},{188,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1627},{248,142}}</string>
                <key>offset</key>
                <string>{-70,-313}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,626},{248,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,645},{296,202}}</string>
                <key>offset</key>
                <string>{-216,-283}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,566},{296,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1245},{202,106}}</string>
                <key>offset</key>
                <string>{-330,-331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,662},{202,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1653},{158,314}}</string>
                <key>offset</key>
                <string>{-432,-227}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,454},{158,314}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,443},{122,218}}</string>
                <key>offset</key>
                <string>{-450,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,244},{122,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,1635},{158,194}}</string>
                <key>offset</key>
                <string>{-432,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,129},{158,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,553},{208,200}}</string>
                <key>offset</key>
                <string>{-298,241}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,43},{208,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,1915},{132,134}}</string>
                <key>offset</key>
                <string>{-147,239}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,78},{132,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,847},{208,222}}</string>
                <key>offset</key>
                <string>{113,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{521,61},{208,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,483},{210,218}}</string>
                <key>offset</key>
                <string>{321,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{728,139},{210,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,541},{218,226}}</string>
                <key>offset</key>
                <string>{325,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{728,355},{218,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,339},{268,336}}</string>
                <key>offset</key>
                <string>{170,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,383},{268,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1},{278,230}}</string>
                <key>offset</key>
                <string>{70,-220}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,489},{278,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1073},{224,150}}</string>
                <key>offset</key>
                <string>{-153,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,439},{224,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1241},{294,160}}</string>
                <key>offset</key>
                <string>{-350,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,438},{294,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1139},{256,182}}</string>
                <key>offset</key>
                <string>{-331,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,299},{256,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,663},{182,186}}</string>
                <key>offset</key>
                <string>{-285,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,199},{182,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1439},{82,186}}</string>
                <key>offset</key>
                <string>{-164,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,199},{82,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,879},{150,286}}</string>
                <key>offset</key>
                <string>{-52,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,94},{150,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1877},{176,170}}</string>
                <key>offset</key>
                <string>{77,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{501,226},{176,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,847},{218,196}}</string>
                <key>offset</key>
                <string>{232,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{635,200},{218,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,591},{242,286}}</string>
                <key>offset</key>
                <string>{3,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,341},{242,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_b_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,1619},{164,118}}</string>
                <key>offset</key>
                <string>{-123,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,372},{164,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1639},{292,152}}</string>
                <key>offset</key>
                <string>{-365,308}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{292,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,1081},{166,96}}</string>
                <key>offset</key>
                <string>{-134,336}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,0},{166,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,433},{210,156}}</string>
                <key>offset</key>
                <string>{27,306}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,0},{210,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1045},{198,202}}</string>
                <key>offset</key>
                <string>{199,283}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{612,0},{198,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,281},{258,184}}</string>
                <key>offset</key>
                <string>{383,292}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,0},{258,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,1709},{74,132}}</string>
                <key>offset</key>
                <string>{475,195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{950,123},{74,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,299},{172,290}}</string>
                <key>offset</key>
                <string>{426,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{852,209},{172,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,755},{88,182}}</string>
                <key>offset</key>
                <string>{468,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{936,451},{88,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,339},{304,202}}</string>
                <key>offset</key>
                <string>{360,-283}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{720,566},{304,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1969},{188,76}}</string>
                <key>offset</key>
                <string>{133,-346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,692},{188,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,425},{210,126}}</string>
                <key>offset</key>
                <string>{-63,-321}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,642},{210,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1635},{290,202}}</string>
                <key>offset</key>
                <string>{-213,-283}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,566},{290,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,175},{176,106}}</string>
                <key>offset</key>
                <string>{-336,-331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,662},{176,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1645},{150,308}}</string>
                <key>offset</key>
                <string>{-436,-230}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,460},{150,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1353},{118,200}}</string>
                <key>offset</key>
                <string>{-452,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,246},{118,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1739},{154,174}}</string>
                <key>offset</key>
                <string>{-433,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,129},{154,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1521},{196,186}}</string>
                <key>offset</key>
                <string>{-292,234}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,57},{196,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1915},{122,122}}</string>
                <key>offset</key>
                <string>{-144,237}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,86},{122,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,221},{204,210}}</string>
                <key>offset</key>
                <string>{113,209}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{523,70},{204,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,845},{198,202}}</string>
                <key>offset</key>
                <string>{314,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{727,155},{198,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,1},{210,220}}</string>
                <key>offset</key>
                <string>{329,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{736,356},{210,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,677},{268,334}}</string>
                <key>offset</key>
                <string>{170,-168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,385},{268,334}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1167},{274,230}}</string>
                <key>offset</key>
                <string>{68,-219}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,488},{274,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,283},{206,140}}</string>
                <key>offset</key>
                <string>{-161,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,449},{206,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,879},{286,148}}</string>
                <key>offset</key>
                <string>{-346,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,438},{286,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1097},{246,176}}</string>
                <key>offset</key>
                <string>{-326,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,299},{246,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,1461},{166,156}}</string>
                <key>offset</key>
                <string>{-278,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,212},{166,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1969},{78,182}}</string>
                <key>offset</key>
                <string>{-162,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,200},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,579},{142,282}}</string>
                <key>offset</key>
                <string>{-51,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,97},{142,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,1293},{172,166}}</string>
                <key>offset</key>
                <string>{78,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{504,230},{172,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1067},{200,168}}</string>
                <key>offset</key>
                <string>{230,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{642,227},{200,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,573},{230,272}}</string>
                <key>offset</key>
                <string>{-3,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,344},{230,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>break_ice_ice_c_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,1627},{164,116}}</string>
                <key>offset</key>
                <string>{-123,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,373},{164,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pezzi_ghiaccio.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25a49aa39cec0eb55a67efc750d985a2$</string>
            <key>textureFileName</key>
            <string>pezzi_ghiaccio.pvr.ccz</string>
        </dict>
    </dict>
</plist>
