<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>movingparticle</key>
	<dict>
		<key>file</key>
		<string>polvere_red.plist</string>
		<key>duration</key>
		<string>-1</string>
		<key>_scale</key>
		<string>0.1</string>
		<key>behaviour</key>
		<string>source_follow</string>
	</dict>
	<key>touchbeginparticle</key>
	<dict>
		<key>file</key>
		<string>polvere_blue.plist</string>
		<key>_scale</key>
		<string>0.1</string>
		<key>behaviour</key>
		<string>source_follow</string>
	</dict>
	<key>touchendparticle</key>
	<dict>
		<key>file</key>
		<string>polvere_green.plist</string>
		<key>_scale</key>
		<string>0.1</string>
		<key>behaviour</key>
		<string>source_follow</string>
	</dict>
	<key>fallparticle</key>
	<dict>
		<key>file</key>
		<string>polvere_purple.plist</string>
		<key>_scale</key>
		<string>0.1</string>
		<key>duration</key>
		<string>-1</string>
		<key>behaviour</key>
		<string>source_follow</string>
	</dict>
	<key>attachedsprite</key>
	<string>Posto.png@negozio_splash.plist</string>
	<key>fallsprite</key>
	<string>Croce.png@negozio_splash.plist</string>
	<key>falldistance</key>
	<string>145</string>
	<key>falldistancetol</key>
	<string>0.1</string>
	<key>backgroundimage</key>
	<string>terreno_sfondo.png</string>
	<key>foregroundimage</key>
	<string>erba_sfondo.png</string>
	<key>papersheet</key>
	<dict>
		<key>maskmode</key>
		<true/>
		<key>backgroundcolor</key>
		<string>{0,0,0,0}</string>
		<key>brush</key>
		<dict>
			<key>randomizerotation</key>
			<true/>
			<key>repetitioninterval</key>
			<string>10</string>
			<key>size</key>
			<string>0.1</string>
			<key>startimages</key>
			<string>punto_erba.png</string>
			<key>endimages</key>
			<string>punto_erba.png</string>
			<key>pointimages</key>
			<string>punto_erba.png</string>
			<key>images</key>
			<array>
				<string>linea_erba_0001.png</string>
				<string>linea_erba_0002.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
