<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atlas</key>
	<string></string>
	<key>defaultstate</key>
	<string>saw</string>
	<key>states</key>
	<dict>
		<key>saw</key>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>framename</key>
					<string>cut_grass_cutter_%2u.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<key>mushroom</key>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>framename</key>
					<string>cut_grass_mushroom_%02u.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>framename</key>
					<string>break_egg_vuoto.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>stone</key>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>framename</key>
					<string>cut_grass_stone_%02u.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>framename</key>
					<string>break_egg_vuoto.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>grass1</key>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>framename</key>
					<string>cut_grass_grass_A_%02u.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>framename</key>
					<string>break_egg_vuoto.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>grass2</key>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>framename</key>
					<string>cut_grass_grass_B_%02u.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>framename</key>
					<string>break_egg_vuoto.png</string>
					<key>from</key>
					<integer>1</integer>
					<key>to</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
